flow.json
[{"id":"7e298a24.b8c37c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b8aba4ec.101b8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"142481c3.5b4116","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"50d2e631.bb8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a87e81aa.8f59c8","type":"postgresdb","z":"","hostname":"localhost","port":"5432","db":"nodered","ssl":false},{"id":"6a473e14.70266","type":"mqtt-broker","z":"","name":"","broker":"central-messaging-databus-app-222.inv-test.svc.cluster.local","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"65a73e2a.2fb7d8","type":"debug","z":"b8aba4ec.101b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":830,"y":120,"wires":[]},{"id":"a27cc83e.facaa","type":"function","z":"b8aba4ec.101b8","name":"Create table","func":"msg.payload = \"CREATE TABLE DEPARTMENT(ID INT PRIMARY KEY NOT NULL,DEPT CHAR(50) NOT NULL,EMP_ID INT NOT NULL);\";\nmsg.connectName = 'docker';\nreturn msg;\n","outputs":1,"noerr":0,"x":330,"y":120,"wires":[["421b4c57.e217c4"]]},{"id":"6768cb97.a66dbc","type":"inject","z":"b8aba4ec.101b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":120,"wires":[["a27cc83e.facaa"]]},{"id":"656f70f1.9fefc","type":"comment","z":"b8aba4ec.101b8","name":"PostgresSQL queries","info":"","x":380,"y":40,"wires":[]},{"id":"421b4c57.e217c4","type":"postgres","z":"b8aba4ec.101b8","postgresdb":"a87e81aa.8f59c8","name":"","output":true,"outputs":1,"x":640,"y":120,"wires":[["65a73e2a.2fb7d8"]]},{"id":"52a90d8d.d39da4","type":"debug","z":"b8aba4ec.101b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":830,"y":240,"wires":[]},{"id":"5c3cb561.fa84cc","type":"function","z":"b8aba4ec.101b8","name":"Insert into","func":"msg.payload = \"INSERT INTO \";\nmsg.connectName = 'docker';\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":200,"wires":[["e8a93ff0.2243a"]]},{"id":"bf1af900.5b45","type":"inject","z":"b8aba4ec.101b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":200,"wires":[["5c3cb561.fa84cc","8b887652.7c2598"]]},{"id":"313b6e37.ef7452","type":"postgres","z":"b8aba4ec.101b8","postgresdb":"a87e81aa.8f59c8","name":"","output":true,"outputs":1,"x":640,"y":240,"wires":[["52a90d8d.d39da4"]]},{"id":"f31950a3.7089d8","type":"function","z":"b8aba4ec.101b8","name":"Insert into","func":"msg.payload = \"DEPARTMENT values(1, 'TECH', 1000);\";\nmsg.connectName = 'docker';\nreturn msg;\n","outputs":1,"noerr":0,"x":320,"y":280,"wires":[["e8a93ff0.2243a"]]},{"id":"8b887652.7c2598","type":"delay","z":"b8aba4ec.101b8","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":110,"y":280,"wires":[["f31950a3.7089d8"]]},{"id":"e8a93ff0.2243a","type":"join","z":"b8aba4ec.101b8","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":470,"y":240,"wires":[["313b6e37.ef7452"]]},{"id":"431c636.affff9c","type":"debug","z":"b8aba4ec.101b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":830,"y":600,"wires":[]},{"id":"11522704.4c3f61","type":"function","z":"b8aba4ec.101b8","name":"Select","func":"msg.payload = \"SELECT * FROM DEPARTMENT\";\nmsg.connectName = 'docker';\nreturn msg;\n","outputs":1,"noerr":0,"x":310,"y":600,"wires":[["8cea123a.4cee28"]]},{"id":"29fb3966.cac4fe","type":"inject","z":"b8aba4ec.101b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":600,"wires":[["11522704.4c3f61"]]},{"id":"8cea123a.4cee28","type":"postgres","z":"b8aba4ec.101b8","postgresdb":"a87e81aa.8f59c8","name":"","output":true,"outputs":1,"x":640,"y":600,"wires":[["431c636.affff9c"]]},{"id":"c521533c.b940a8","type":"debug","z":"b8aba4ec.101b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":830,"y":680,"wires":[]},{"id":"927a039c.6b8d08","type":"function","z":"b8aba4ec.101b8","name":"update","func":"msg.payload = \"UPDATE DEPARTMENT SET DEPT='SUPPORT' WHERE EMP_ID=1001;\";\nmsg.connectName = 'docker';\nreturn msg;\n","outputs":1,"noerr":0,"x":310,"y":680,"wires":[["a3f4135b.b12678"]]},{"id":"ec4106df.f38888","type":"inject","z":"b8aba4ec.101b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":680,"wires":[["927a039c.6b8d08"]]},{"id":"a3f4135b.b12678","type":"postgres","z":"b8aba4ec.101b8","postgresdb":"a87e81aa.8f59c8","name":"","output":true,"outputs":1,"x":640,"y":680,"wires":[["c521533c.b940a8"]]},{"id":"56dfc95.c4dbe38","type":"debug","z":"b8aba4ec.101b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":830,"y":480,"wires":[]},{"id":"b475bbbf.d74cb8","type":"function","z":"b8aba4ec.101b8","name":"Insert into","func":"msg.payload = \"INSERT INTO \";\nmsg.connectName = 'docker';\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":440,"wires":[["fd3cb5d7.c0e148"]]},{"id":"f9250201.753d58","type":"inject","z":"b8aba4ec.101b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":440,"wires":[["b475bbbf.d74cb8","5f4df26d.def60c"]]},{"id":"62b1f0d2.8beed","type":"postgres","z":"b8aba4ec.101b8","postgresdb":"a87e81aa.8f59c8","name":"","output":true,"outputs":1,"x":640,"y":480,"wires":[["56dfc95.c4dbe38"]]},{"id":"696279ef.cb4968","type":"function","z":"b8aba4ec.101b8","name":"Insert into","func":"msg.payload = \"DEPARTMENT values(2, 'TECH', 1001);\";\nmsg.connectName = 'docker';\nreturn msg;\n","outputs":1,"noerr":0,"x":320,"y":520,"wires":[["fd3cb5d7.c0e148"]]},{"id":"5f4df26d.def60c","type":"delay","z":"b8aba4ec.101b8","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":110,"y":520,"wires":[["696279ef.cb4968"]]},{"id":"fd3cb5d7.c0e148","type":"join","z":"b8aba4ec.101b8","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":470,"y":480,"wires":[["62b1f0d2.8beed"]]},{"id":"7561a42e.04d8f4","type":"debug","z":"b8aba4ec.101b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":830,"y":840,"wires":[]},{"id":"d60a311e.510068","type":"function","z":"b8aba4ec.101b8","name":"delete","func":"msg.payload = \"DELETE FROM DEPARTMENT WHERE DEPT='SUPPORT';\";\nmsg.connectName = 'docker';\nreturn msg;\n","outputs":1,"noerr":0,"x":310,"y":840,"wires":[["2162527a.bf1986"]]},{"id":"66e9453c.00935c","type":"inject","z":"b8aba4ec.101b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":840,"wires":[["d60a311e.510068"]]},{"id":"2162527a.bf1986","type":"postgres","z":"b8aba4ec.101b8","postgresdb":"a87e81aa.8f59c8","name":"","output":true,"outputs":1,"x":640,"y":840,"wires":[["7561a42e.04d8f4"]]},{"id":"58187338.3e1d54","type":"debug","z":"b8aba4ec.101b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":830,"y":920,"wires":[]},{"id":"67067f3a.fd111","type":"function","z":"b8aba4ec.101b8","name":"Select","func":"msg.payload = \"SELECT * FROM DEPARTMENT\";\nmsg.connectName = 'docker';\nreturn msg;\n","outputs":1,"noerr":0,"x":310,"y":920,"wires":[["57fc306c.435228"]]},{"id":"60632e62.7e7cc8","type":"inject","z":"b8aba4ec.101b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":920,"wires":[["67067f3a.fd111"]]},{"id":"57fc306c.435228","type":"postgres","z":"b8aba4ec.101b8","postgresdb":"a87e81aa.8f59c8","name":"","output":true,"outputs":1,"x":640,"y":920,"wires":[["58187338.3e1d54"]]},{"id":"52cbce3.67456b","type":"debug","z":"b8aba4ec.101b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":830,"y":760,"wires":[]},{"id":"75351e4f.535b1","type":"function","z":"b8aba4ec.101b8","name":"Select","func":"msg.payload = \"SELECT * FROM DEPARTMENT\";\nmsg.connectName = 'docker';\nreturn msg;\n","outputs":1,"noerr":0,"x":310,"y":760,"wires":[["48a1171a.f6002"]]},{"id":"265292dc.dfb99e","type":"inject","z":"b8aba4ec.101b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":760,"wires":[["75351e4f.535b1"]]},{"id":"48a1171a.f6002","type":"postgres","z":"b8aba4ec.101b8","postgresdb":"a87e81aa.8f59c8","name":"","output":true,"outputs":1,"x":640,"y":760,"wires":[["52cbce3.67456b"]]},{"id":"b7cf32d6.84d7","type":"inject","z":"b8aba4ec.101b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":360,"wires":[["449fd56.e24bd2c"]]},{"id":"449fd56.e24bd2c","type":"function","z":"b8aba4ec.101b8","name":"Select","func":"msg.payload = \"SELECT * FROM DEPARTMENT\";\nmsg.connectName = 'docker';\nreturn msg;\n","outputs":1,"noerr":0,"x":310,"y":360,"wires":[["d9a6eb3e.eb2bf"]]},{"id":"d9a6eb3e.eb2bf","type":"postgres","z":"b8aba4ec.101b8","postgresdb":"a87e81aa.8f59c8","name":"","output":true,"outputs":1,"x":640,"y":360,"wires":[["68c689d8.5c248"]]},{"id":"68c689d8.5c248","type":"debug","z":"b8aba4ec.101b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":830,"y":360,"wires":[]},{"id":"eefe1a17.a3c4e8","type":"inject","z":"b8aba4ec.101b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":1000,"wires":[["9a48880b.42c6c"]]},{"id":"9a48880b.42c6c","type":"function","z":"b8aba4ec.101b8","name":"Drop table","func":"msg.payload = \"DROP TABLE DEPARTMENT\";\nmsg.connectName = 'docker';\nreturn msg;\n","outputs":1,"noerr":0,"x":330,"y":1000,"wires":[["a80dec98.7ce84"]]},{"id":"a80dec98.7ce84","type":"postgres","z":"b8aba4ec.101b8","postgresdb":"a87e81aa.8f59c8","name":"","output":true,"outputs":1,"x":640,"y":1000,"wires":[["a6f934b.bdb2cc8"]]},{"id":"a6f934b.bdb2cc8","type":"debug","z":"b8aba4ec.101b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":830,"y":1000,"wires":[]},{"id":"1618451c.1ff653","type":"mqtt out","z":"142481c3.5b4116","name":"","topic":"tag1","qos":"2","retain":"","broker":"6a473e14.70266","x":990,"y":420,"wires":[]},{"id":"b8bda038.3e74d","type":"mqtt in","z":"142481c3.5b4116","name":"","topic":"tag1","qos":"2","datatype":"auto","broker":"6a473e14.70266","x":230,"y":720,"wires":[["1325b801.d4e098"]]},{"id":"1325b801.d4e098","type":"debug","z":"142481c3.5b4116","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":780,"wires":[]},{"id":"75da57a3.3dca5","type":"inject","z":"142481c3.5b4116","name":"trigger at start","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":260,"y":480,"wires":[["62b49048.09c62"]]},{"id":"62b49048.09c62","type":"function","z":"142481c3.5b4116","name":"counter","func":"msg.payload = parseInt(msg.payload) + 1;\nreturn msg;","outputs":"1","noerr":0,"x":601,"y":482,"wires":[["8f52f2ea.79806","1618451c.1ff653"]]},{"id":"8f52f2ea.79806","type":"delay","z":"142481c3.5b4116","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":580,"y":360,"wires":[["62b49048.09c62"]]},{"id":"f129e3b4.a908","type":"inject","z":"7e298a24.b8c37c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":120,"wires":[["5a5de22b.3b400c"]]},{"id":"5a5de22b.3b400c","type":"debug","z":"7e298a24.b8c37c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":580,"y":320,"wires":[]}]